/* ABOUT PAGE */

.container-about {
  display: flex;
}

.bio-content {
  text-align: left;
  width: 40vw;
  margin-left: 1vw;
}

.content-wrapper {
  position: relative;
}

.bio-content h2 {
  font-weight: 300;
}

.bio-content p {
  font-family: PT serif;
  font-weight: 300;
  font-size: 16px;
}

.header {
  margin: 12vh auto 12vh auto;
  font-size: 8vh;
  text-align: center;
  font-weight: 100;
  font-family: PT serif;
  color: black;
}

.creator {
  font-weight: 200;
  font-size: 12px;
}

.about-img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 10px 45px;
  transform: translateY(0vh);
}

.about-img::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  border: 1.2px solid #97bdb9;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translate(-8%, 5%);
}

@media (max-width: 768px) {
  .container-about {
    flex-direction: column;
  }
  .about-img {
    width: 90%;
    margin: 30px 20px 5rem 20px;
    transform: translateY(0vh);
  }
  .bio-content {
    text-align: left;
    width: 100%;
    margin-left: 1vw;

  }
}
